body{
  margin: 0 auto;
  padding: 0;
  box-sizing: border-box;
}
.container{
  max-width: 399px;
  height: 305px;
  margin: 75px auto;
  border: solid 4px black;
  display: flex;
  justify-content: space-between;
  background-size:cover;
}
.header{
  border: solid 3px;
  width: 100px;
  display: flex;
}

